/*CONTACTO*/

.contactoImg{
    position: relative;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.redes{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;    
}

.numero{
    text-align: center;
    font-size: 60px;
}