 /*CONTENIDO DE LA PAGINA*/  

 h1{
    color: red;
    text-align: center;
    font-weight: 600;
    font-size: 50px;
    position: relative;
}
.sectionVideo{
    position: relative;
    display: block;
    margin-left:auto;
    margin-right:auto;
    border-radius: 25px;
    overflow:hidden ;
}
h2{
    font-family: 'Vujahday Script', cursive;
    text-align: center;
    font-weight: 100;
    font-size: 35px ;
    text-decoration:  underline;
}
h3{
    font-weight: 300 ;
    font-size: 30px;
}
p{
    font-family: 'Vujahday Script';
    font-size: 30px;
    margin-left: 3px
}
a{
    @extend p;
    text-decoration:solid underline;
    color: black;
    
}
.round{
    border-style: solid;
    border-radius: 16px;
    margin: 5px;
}