body{
    background-image: url(https://m.media-amazon.com/images/I/41I-04ZScDL._AC_SY355_.jpg);
    font-family: 'Nunito', sans-serif;
    
}

.header{
    background-color: rgb(138, 91, 10);
    display: flex;
    justify-content: space-between;
    align-items: center;
} 


.header a {
    color: white;
    text-decoration: none;
}
.headerNav{
    display: flex;
    flex-flow: row;

    
}

.headerNav ul li {
    display: inline-block;
    margin-right: 130px;
    list-style: none;


    
   
}
.header a img{
    position: relative;
    height:80px;
    padding: 10px;
    
    
}
h1{
    color: red;
    text-align: center;
    font-weight: 600;
    font-size: 50px;
    box-shadow: 50px 50px 100px 0px rgba(255, 145, 0, 0.664);
    position: relative;
}
.sectionVideo{
    position: relative;
    display: block;
    margin-left:auto;
    margin-right:auto;
    border-radius: 25px;
    overflow:hidden ;
    
    
}
h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight: 100;
    font-size: 35px ;
    text-decoration:  underline;
    
}
h3{
    font-weight: 300 ;
    font-size: 30px;
    
}
p{
    font-weight: bold ;
    font-size: 20px;
}
a{
    text-decoration:solid underline;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.round{
    border-style: solid;
    border-radius: 16px;
}
.footer{
    background-color: rgba(231, 163, 46, 0.384);
    border-radius: 12px;
    display: block;
    position: relative;
    margin:10px 
    
}
.cliente{
    display: inline-block;
    margin:10px
    
    
    
    
}
.yo{
    display: inline-block;
    position: absolute;
    top: -10px;
    right: 10px;
    margin-right: auto;
    margin-left: 250px;
    
  
}

/* Ubicación */

.map{
    display: block;
    margin-left:auto;
    margin-right:auto;
    border-radius: 12px;
}

/*Contacto*/

.contactoImg{
    position: relative;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.redes{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    
}

.numero{
    text-align: center;
    font-size: 60px;
}


/*Galeria*/
.h2Border{
    border:outset 10px red;
    background-color: rgb(255, 196, 0);
    border-radius: 30px;
}
.img{
    margin:25px 25px 25px 25px;
    border-radius: 20px;
    border-style: solid ;
}


    





